@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.call {
  margin-top: 150px;
  background-color: $about-bg;

  &__container {
    width: 1440px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    background: linear-gradient(180deg, #FFF 70%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    z-index: 10;
    @include project-call-title;
  }

  &__image-wrapper {
    position: relative;
    width: 500px;
    height: 320px;
  }

  &__image {
    position: absolute;
    top: -50px;
    left: calc(50% - 250px);
    width: 500px;
    height: auto;
    transform: rotate(5deg);
    border-radius: 140px;
    z-index: 1;
  }

  &__image-cover {
    position: absolute;
    top: -50px;
    left: calc(50% - 250px);
    width: 500px;
    height: 320px;
    transform: rotate(5deg);
    border-radius: 140px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, #2F2F2F 100%);
    z-index: 5;
  }

  &__button-link {
    cursor: pointer;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: calc(50% - 30px);
    right: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $coral;
    border: none;
    border-radius: 50%;
    z-index: 10;

    svg path {
      transition: .3s;
    }

    &:hover svg path {
      fill: $white;
    }
  }
}