@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.footer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo-text {
    margin-left: 8px;
    color: $white;
    @include logo-text;
  }

  &__description {
    width: 550px;
    margin-top: 40px;
    opacity: .5;
    text-align: center;
    @include project-footer-description;
  }

  &__social-links {
    margin-top: 26px;
  }

  &__social-link {
    margin-left: 26px;
  }

  &__navigate {
    width: 100%;
    margin-top: 60px;
    border-top: 1px solid rgb(255, 255, 255, .5);
  }

  &__navigate-list {
    margin-top: 36px;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    @include footer-navigate-link;
  }

  &__navigate-item {
    
    padding: 0 72px;
    border-left: 1px solid rgb(255, 255, 255, .5);

    a {
      text-decoration: none;
      color: $white;
    }

    &:first-of-type {
      border-left: none;
    }
  }
}