@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.quality {
  background-image: url('../images/lines.svg');
  background-repeat: repeat-y;
  background-position: center;
  border: 1px solid transparent;
  margin-top: 60px;

  &__container {
    width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__subtitle {
    display: flex;
    align-items: center;
  }

  &__subtitle-text {
    margin-left: 26px;
    @include project-section-subtitle;
  }

  &__title {
    width: 540px;
    margin-top: 150px;
    background: linear-gradient(130deg, #FFF 40%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include project-section-title;
  }

  &__description {
    width: 400px;
    margin-top: 20px;
    color: $light-grey;
    @include project-section-description;
  }

  &__button {
    cursor: pointer;
    padding: 20px 35px;
    margin-top: 62px;
    color: #050505;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    border: none;
    border-radius: 100px;
    background-color: $coral;
  }

  &__image-wrapper {
    position: relative;
    width: 600px;
    height: 600px;
    margin-right: 150px;
  }

  &__image {
    border-radius: 50%;
    width: 600px;
    height: 600px;

    &_blur {
      width: 500px;
      height: 500px;
      position: absolute;
      right: -150px;
      top: calc(50% - 250px);
      z-index: -1;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  }

  &__button-link {
    cursor: pointer;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $coral;
    border: none;
    border-radius: 50%;

    svg path {
      transition: .3s;
    }

    &:hover svg path {
      fill: $dark-green;
    }
  }
}