@import '../variables/variables.scss';

@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $screen-lg-max) { @content; }
  }
  @else if $media == xl {
    @media only screen and (max-width: $screen-xl-max) { @content; }
  }
}

@mixin logo-text {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin nav-link-text {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

@mixin project-title {
  font-family: 'Satoshi', sans-serif;
  font-size: 122px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2.222px;
  text-transform: uppercase;
}

@mixin project-description {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

@mixin project-section-title {
  font-family: 'Satoshi', sans-serif;
  font-size: 71px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2.222px;
  text-transform: uppercase;
}

@mixin project-section-subtitle {
  font-family: 'Satoshi', sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 120%;
}

@mixin project-section-description {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@mixin project-advantages-text {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

@mixin info-numbers-text {
  font-family: 'Encode Sans', sans-serif;
  font-size: 63px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.5px;
}

@mixin info-video-title {
  font-family: 'Satoshi', sans-serif;
  font-size: 112px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.222px;
  text-transform: uppercase;
}

@mixin project-section-description {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

@mixin project-call-title {
  font-family: 'Satoshi', sans-serif;
  font-size: 134px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin project-footer-description {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 150%;
}

@mixin footer-navigate-link {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
