$screen-xs-max: 655px;
$screen-sm-max: 768px;
$screen-md-max: 1024px;
$screen-lg-max: 1280px;

$dark-green: #1D4734;
$nude: #CAA9A3;
$sand: #D4C4BA;
$cement-grey: #849FA8;
$creme: #E4E8E3;
$coral: #E09B6B;
$white: #ffffff;
$white-grey: #E6E8EE;
$dark-grey: #383838;
$dark-black: #000000;
$light-grey: #A0A0A0;

$theme-color: $dark-green;
$text-color: $white;

$nav-bg: $white-grey;
$nav-link-color: $dark-grey;

$register-btn-bg-color: $dark-green;
$register-btn-text-color: $white-grey;

$about-bg: $dark-black;